<div class="buttons">
  <div class="back-but-bl">
    <%= link_to content_tag(:span, t('manage.menu.questions')), manage_structure_questions_path(@structure.id), :class=>"back" %>
  </div>

  <div class="act-bl">
    <%= link_to image_tag("manage/ico_edit.gif", :title=>t('manage.edit')), edit_manage_structure_question_path(@structure.id, @question.id), :class=>"icons" %>

    <%= link_to image_tag("manage/ico_del.gif", :title=>t('manage.delete')), manage_structure_question_path(@structure.id, @question.id), :method=>:delete, :confirm=>t("manage.confirm_delete"), :class=>"icons" %>
  </div>
</div>

<div class="edit-bl">
  <div class="bot-bg">
    <div class="block-title"><%= @question.title %>:</div>
    <div class="edit-cont">
      <table border="0" cellspacing="0" cellpadding="0" class="page-info">
        <tbody>
          <% @question.attributes.each do |attribute, value| %>
            <tr>
              <td><strong><%= attribute %></strong></td>
              <td><%= value %></td>
            </tr>  
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
